body {
  margin: 0;
  padding: 0;
  position: relative;
}

ol, li {
  list-style: none;
}

a {
  list-style: none;
  color: black;
  text-decoration: none;
}

.banner-wrap {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100vw;
  height: 800px;
  position: relative;
}
.banner-wrap .banner-text {
  width: 33%;
  max-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-start;
  margin-left: 20px;
}
.banner-wrap .banner-text > * {
  margin: 0px;
}
.banner-wrap .banner-text > button {
  margin: 44px 0px;
}
.banner-wrap .banner-text > p {
  text-align: center;
  margin: 10px auto;
}
.banner-wrap .banner-text img {
  width: 100px;
}
.banner-wrap .banner-text h1 {
  margin: 0;
  font-family: "GFS Didot", serif;
  font-size: 66px;
  color: black;
  font-size: 50px;
}
.banner-wrap .banner-text h3 {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  font-size: 23px;
  font-weight: 400;
  color: #363D3F;
}
.banner-wrap .banner-bg {
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  z-index: -10;
}

header {
  z-index: 99;
  width: 100vw;
  height: 156px;
}
header navigation {
  padding: 30px 40px;
}
header ol {
  margin: 0;
  padding: 0 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
header ol li {
  height: 86px;
  flex-grow: 1;
  border-left: 1px solid #e0dfdf;
  counter-increment: li;
}
header ol li a {
  text-transform: capitalize;
  line-height: 86px;
  padding-left: 16px;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  font-weight: 400;
  color: #787979;
}
header ol li a:before {
  display: inline-block;
  width: 30px;
  height: 60%;
  text-align: center;
  color: #A8ABAC;
  content: counter(li, decimal-leading-zero);
  border-bottom: 1px solid #A8ABAC;
  margin-right: 4px;
  transition: 0.3s all ease;
}
header ol li a:hover {
  color: #E20741;
}
header ol li a:hover::before {
  border-bottom: 2px solid #E20741;
  color: #E20741;
}
header ol li:first-child {
  border: none;
}

.wp-container-1 figure {
  background-color: #F7F7F7;
  width: 100%;
  margin: 0;
}
.wp-container-1 figure img {
  width: 100%;
  height: auto;
  filter: grayscale(100%);
}

.wp-container-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.wp-container-2 > * {
  font-size: 14px;
  width: 80%;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
  color: #787979;
}
.wp-container-2 :first-child,
.wp-container-2 :nth-child(3) {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 22px;
  font-weight: 400;
  color: #787979;
}
.wp-container-2 :nth-child(2) {
  text-align: center;
  font-family: "GFS Didot", serif;
  font-size: 36px;
  font-weight: blod;
  color: #363D3F;
}
.wp-container-2 :nth-child(4) {
  margin-top: 40px;
}

.home-post-1 {
  height: 400px;
  background-color: #F7F7F7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0px;
}
.home-post-1 > * {
  font-size: 14px;
  width: 60%;
  margin: 0;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
  color: #787979;
  margin-top: 16px;
}
.home-post-1 figure img {
  width: 30px;
}
.home-post-1 p:first-of-type {
  color: rebeccapurple;
  font-family: "GFS Didot", serif;
  font-size: 36px;
  font-weight: blod;
  color: #363D3F;
  margin-bottom: 20px;
}

.home-post-2 {
  height: 300px;
  position: relative;
  padding: 40px 40px;
  background-color: #F7F7F7;
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
  color: #787979;
}
.home-post-2 > div:first-of-type {
  max-width: 888px;
  margin: 0 auto;
}
.home-post-2 .wp-block-group p {
  font-family: "Times New Roman", Times, serif;
  font-size: 22px;
  font-weight: 400;
  color: #787979;
}
.home-post-2 .wp-block-group p:first-child {
  color: #E20741;
  border: #E20741 1px solid;
  display: inline-block;
  width: 20%;
  text-align: center;
  margin-right: 6px;
}
.home-post-2 .wp-block-group p:last-child {
  color: #363D3F;
}
.home-post-2 .wp-container-12 {
  gap: 10%;
}
.home-post-2 .wp-block-image {
  position: absolute;
  top: -80px;
  display: flex;
}
.home-post-2 .wp-block-image img {
  margin: 0 auto;
  width: 60%;
}

.home-post-3 {
  height: 600px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}
.home-post-3 > div:first-child {
  margin-left: 50px;
  padding-left: 50px;
}
.home-post-3 > div:first-child > P:first-child {
  font-family: "GFS Didot", serif;
  font-size: 36px;
  font-weight: blod;
  color: #363D3F;
}
.home-post-3 > div:first-child > P:nth-child(2) {
  padding: 0 10px 0 0;
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
  color: #787979;
}
.home-post-3 > div:first-child > P:nth-child(3) {
  text-transform: capitalize;
  font-family: "Times New Roman", Times, serif;
  font-size: 22px;
  font-weight: 400;
  color: #787979;
  font-size: 18px;
}
.home-post-3 > div:last-child {
  width: 50%;
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
}
.home-post-3 > div:last-child img {
  filter: grayscale(100%);
  width: 150px;
  cursor: pointer;
}
.home-post-3 > div:last-child img:hover {
  filter: none;
}
.home-post-3 > div:last-child div {
  position: relative;
}
.home-post-3 > div:last-child div p {
  font-family: "Times New Roman", Times, serif;
  font-size: 22px;
  font-weight: 400;
  color: #787979;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50px);
  margin: 0;
  color: white;
  text-shadow: 1px 1px 2px #F7F7F7;
}

.banner-text button {
  cursor: pointer;
  font-size: 20px;
  color: #E20741;
  width: 40%;
  padding: 20px 30px;
  border: 2px solid #E20741;
  background-color: transparent;
}
.banner-text button:disabled {
  pointer-events: none;
}
.banner-text button:hover {
  color: #fff;
  background-color: #E20741;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
.banner-text button:active {
  box-shadow: none;
  transform: translateY(0);
}
.banner-text div {
  margin-top: 40px;
  width: 55%;
  border: 0.3px solid #A8ABAC;
}
.banner-text p {
  font-size: 20px;
  width: 40%;
  color: #363D3F;
}

.subscription {
  position: relative;
}
.subscription .subs-text {
  max-width: 76%;
  min-width: 60%;
}
.subscription img {
  width: 100vw;
}
.subscription > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.subscription .subs-email {
  display: flex;
  gap: 20px;
}
.subscription .subs-email div:nth-of-type(1) {
  flex-grow: 5;
}
.subscription .subs-email div:nth-of-type(2) {
  flex-grow: 2;
}
.subscription .subs-email input {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  outline: none;
}
.subscription .subs-email input:focus {
  border: 2px solid black;
}
.subscription .subs-email button {
  color: white;
  height: 40px;
  width: 100px;
  border-style: none;
  background-color: black;
}
.subscription p {
  margin: 10px 0;
  color: red;
  text-transform: uppercase;
  font-family: "GFS Didot", serif;
  font-size: 36px;
  font-weight: blod;
  color: #363D3F;
}

footer {
  padding: 30px 100px;
  color: white;
  background-color: black;
  height: 300px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}
footer > div h1 {
  border-bottom: 2px white solid;
  font-family: "GFS Didot", serif;
  font-size: 36px;
  font-weight: blod;
  color: #363D3F;
  font-size: 30px;
  color: white;
  padding: 16px 0;
}
footer .foot-nav ol {
  display: grid;
  gap: 18px;
  grid-template-columns: 1fr 1fr;
}
footer .foot-nav ol a {
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
  color: #787979;
  text-transform: uppercase;
  color: white;
  font-weight: 300;
}
footer .foot-nav ol a:hover {
  color: #E20741;
}
footer .foot-des p {
  font-style: italic;
}
footer .social-icon .wp-container-13 {
  gap: 10px;
}
footer .social-icon .wp-container-13 img {
  cursor: pointer;
  filter: grayscale(100%) brightness(2) contrast(150%);
  width: 56px;
}
footer .social-icon .wp-container-13 img:hover {
  filter: none;
}
footer .social-icon .wp-container-13 > figure:nth-of-type(3) img {
  width: 40px;
}

/*# sourceMappingURL=style.css.map */
