@use "../abstracts" as *;
 .port-page-wrap{
    //  background-color: beige;
     display: grid;
     grid-template-columns: 3fr 7fr;
.left{
    margin: 0 20px;
    padding: 30px 40px;
    h1{
        padding: 100px 0 60px 0;
        @include headingFont;
        font-size: 28px;
    }
    p{
        @include textFont;
    }
    
    background-color: gainsboro;
}
.right{ 
background-color: #fff;
figure{
    overflow: hidden;
    img{
        width: 100%;
        transition: all 1s;
        cursor: pointer;
        filter: grayscale(110%);
        &:hover{
            filter: none;
            transform:scale(1.2);
        }
    }
}
}
 }

 @media (min-width: 782px) and (max-width: 1025px){
    .port{
        display: none;
    }
    .port-page-wrap{
        grid-template-columns:1fr;
    }
    .port-page-wrap .left {
        margin: 20px auto;
        h1{
            padding: 0;
        }
    }

}
@media (max-width: 782px) {
    .port{
        display: none;
    }
    .port-page-wrap{
        padding: 0 8px;
        grid-template-columns:1fr;
    }
    .port-page-wrap .left {
        margin: 20px auto;
        h1{
            padding: 0;
        }
    }
}