@use "../abstracts" as *;
 .port-page-wrap{
    //  background-color: beige;
     display: grid;
     grid-template-columns: 3fr 7fr;
.left{
    margin: 0 20px;
    padding: 30px 40px;
    h1{
        padding: 100px 0 60px 0;
        @include headingFont;
        font-size: 28px;
    }
    p{
        @include textFont;
    }
    
    background-color: gainsboro;
}
.right{ 
background-color: #fff;
figure{
    img{
        cursor: pointer;
        &:hover{
            // transform:scale(1.4);
        }
    }
}
}
 }