$my-background-colour: orange;
$my-heading-one-color: snow;
$card-background-color: green;

$salon-red:#E20741;
$title-color:#363D3F;
$text-color:#787979;
 
$section-bg:#F7F7F7;
$line-color:#707070;
$menu-num:#A8ABAC;
$menu-line:#e0dfdf;